

.filha1, .filha2 {
    height: 300px;
    width: 300px;
    background-color: lightblue;
    margin: 10px;   
}

.filha2 {
    background-color: lightcoral;
}

.filha1 {
    position: absolute;
    top: 50%;
    left: 50%;
}