* {
    margin: 0;
    padding: 0;
}

p {
    clear: left;
}

.grid::after {
    content: '';
    display: block;
    clear: both;
 
}

.grid {
    padding: 15px;
}

.grid .col {
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    
}
.grid .col-contant {

    width: 100%;
    height: 100%;
    float: left;
    background-color: red;
}