* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; 
    margin: 0 auto;
}

.grid div {
    background: lightblue;
    min-height: 100px;
}

.grid div:nth-child(1) {
    grid-column: span 3;
    background: darkred;
}
.grid div:nth-child(2) {
    grid-row: span 8;
    background: darkblue;
}
.grid div:nth-child(3) {
    grid-row: span ;
    grid-column: span 2;
    background: darkcyan;
}