
ul li:after {
    content: "-";
    background-color: darkred;
    color: #fff;
    display: block;
    height: 2px;
    width: 20px;
    opacity: 15%;
}

ul li:hover {
    opacity: 100%;
    transition: 1s ease-in-out;
}
p::first-line {
    font-size: 30px;
}

p::selection {
    background: black;
    color: white;
}

input::placeholder {
    content-visibility: 100;

}