@charset "UTF-8";

@font-face {
    font-family: passion one;
    src: url('../fontes/PassionOne-Black.ttf') format('truetype');
}

@font-face {
    font-family: Sriracha;
    src: url('../fontes/Sriracha-Regular.ttf') format('truetype');
}

:root {
    --fonte-titulo: passion one, sans-serif;
    --fonte-padrao: Sriracha, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    
    
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-titulo);
    font-size: 10vw;
    color: white;
}

header > p {
    padding-bottom: 50px;
    font-size: 2.5vh;
    color: white;
    font-family: sans-serif;

    text-decoration: none;
}

a {
    font-family: Verdana, sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

article {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3.5vh;
    padding-left: 30px;
    line-height: 2em;
}

section .solido {
    font-family: var(--fonte-padrao);
    background-color: white;
    
}

article > p {
    max-width: 50vw;
    padding-bottom: 2em;
}

.imagem#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

.imagem#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

article.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
box-shadow:  6px 6px 13px 1px rgba(0, 0, 0, 0.473);

    background-size: cover;
    background-attachment: fixed;
}

article.imagem > p {
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    background-color: rgba(0, 0, 0, 0.521);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1vw;
}
