@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}


img {
    width: 100vw;
    
}

a {
    position: relative;
    top: -2px;
    display: block;
    background-color: darkred;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    background-color: red;
}
